# =========================
# Related Work Folder
# =========================
related_work/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environments
# =========================
.idea/
.venv/
venv/
ENV/
env/

# =========================
# API Keys / Secrets
# =========================
config/api_keys.json

# =========================
# Local / Experimental Code
# =========================
src/clean_overleaf/

# =========================
# Build Artifacts
# =========================
build/
builds/
dist/
out/
bin/

# =========================
# CMake
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# =========================
# Compiled Objects / Binaries
# =========================
*.o
*.o.d
*.a
*.dll
*.exe
*.out

# Linux / macOS
*.dylib
*.so

# =========================
# Logs / Temp
# =========================
*.log
*.tmp
*.swp
*.bak

# =========================
# Planner / Fast Downward
# =========================
sas_plan*
output.sas

__pycache__/
*.pyc
